[defaults]
# Core settings
inventory = /home/devops/Server_Hardening_Pipeline/inventory/hosts.yml
roles_path = ./roles
ask_pass = false
host_key_checking = false

# Security settings
#vault_password_file = /home/devops/practice_xm/vault_key

# Verboity and logging
log_path = ./ansible.log
verbose = false

# SSH settings
remote_user = oracle
private_key_file = ~/.ssh/id_rsa

# Performance settings
forks = 5
gathering = smart





[privilege_escalation]
become = yes
become_method = sudo
become_user = root
become_ask_pass = false
